.header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
   }
   .logo{
    position: fixed;
    display: flex;
    font-size: 25px;
     color: white;
    font-weight: 1000;
   
}
 @media only screen and (max-width: 720px){
   
    .logo{
        font-size:20px ;
    }
    
}