
body {
  font-family: 'Poppins', sans-serif;
  
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:#25222d ;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
